* {
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    font-family: Verdana;
    font-weight: 400;
    font-size: 13px;
    color: white;
    height: 50px;
}
#logo{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
#logo h2{
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1.5px;
    color: darkred;
}
#navbar{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
#navbar ul {
    display: flex;
    list-style: none;
}
#navbar li {
    font-family: "Open Sans", Sans-serif;
    font-weight: 800;
    padding-left: 80px;
 }
#navbar a {
    color: darkred;
    text-decoration: none;
}
#selectednav a{
    color: black;
}
#navbar a:hover {
    color: black;
    text-decoration: underline wavy;
}
#bodylogin{
    display: flex;
    justify-content: center;
}
#loginbox {
    background-color: darkred;
    border-radius: 5px 5px 5px 5px;
    width: 500px;
    font-family: "Open Sans", Sans-serif;
    margin-top: 100px;
}
#loginheader {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}
#loginInput {
    display:flex;
    flex-direction: column;
}
.loginInput {
    display: flex;
    justify-content: center
}
.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    border-radius: 5px 0px 0px 5px;
}
.inputBox {
    margin-top: 5px;
    height: 50px;
    width: 250px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
}
#Loginfooter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#loginbutton {
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}
#loginbutton:hover {
    background-color: #333333;
    color: white;
}
#loginExtras{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
#forgetPassword{
    text-align: center;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}
    #forgetPassword:hover {
        color: black;
    }
#signupButton {
    width: 150px;
    height: 100%;
    background-color: white;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#signupButton:hover {
    background-color: #333333;
    color: white;
}
#About {
    font-family: "Open Sans", Sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-top: 25px;
}

    #About img {
        border-radius: 5px 5px 5px 5px;
    }

#aboutus {
    width: 80%;
    display: flex;
    align-items: center;
}

.aboutusm {
    margin: 20px 20px;
}

    .aboutusm h1 {
        margin: 20px 0px;
    }

#aboutIcons i {
    margin-top: 40px;
    margin-right: 10px;
    color: darkred;
    cursor: pointer;
}

    #aboutIcons i:hover {
        color: black;
    }

#bestpizza {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#bestpizzam {
    margin-right: 20px;
}

#pizzaserved {
    background: url(../images/served.jpg);
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.pizzaserved {
    font-family: "Open Sans", Sans-serif;
    text-align: center;
    color: white;
}

#feedback {
    padding-top: 40px;
}

    #feedback h1 {
        color: darkred;
        font-size: 35px;
        font-family: "Lucida Handwriting", Sans-serif;
        text-align: center;
    }

#reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 50px;
}

.reviews {
    width: 30%;
    background-color: #F7F7F7;
    padding: 20px;
}

.reviewheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Open Sans", Sans-serif;
}

    .reviewheader i {
        color: #ffe234;
        margin-right: 4px;
    }

    .reviewheader h2 {
        margin-left: 15px;
    }

.reviewprofile {
    display: flex;
    align-items: center;
}

.pfont {
    color: black;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    line-height: 1.7em;
    letter-spacing: 0.1px;
}
#menu {
    margin: 60px auto;
    width: 60%;
}

    #menu h1 {
        font-family: "Font Awesome 6 Free";
        letter-spacing: 2px;
        font-weight: 700;
    }

    #menu h4 {
        font-weight: 500;
    }

.menusection {
    margin-top: 50px;
}

#menuheader {
    text-align: center;
}

.menuproduct {
    display: flex;
    flex-direction: column;
}

.menupricing {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.menuseperator {
    width: 100%;
    margin: 0 15px;
    display: block;
    border-bottom: 0.5px solid black;
}

#deliverybody {
    height: 100%;
    background-color: #F7F7F7;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.productContainer {
    background-color: white;
    display: flex;
    width: 600px;
    height: 105px;
    padding: 5px;
    margin: 16px;
}

.pimage {
    display: flex;
    justify-content: center;
    width: 100px;
}

    .pimage img {
        max-width: 100px;
        height: 100px;
    }

.pinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-left: 5px;
}

.pinfoH {
    margin-top: 5px;
}

.pinfoF {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .pinfoF button {
        height: 25px;
        width: 90px;
        font-family: "Poppins", Arial, sans-serif;
        border: 0;
        background-color: #fac564;
        color: white;
        border-radius: 3px;
        cursor: pointer;
    }

        .pinfoF button:hover {
            background-color: #333333
        }

.priceP {
    color: #fac564;
    font-weight: 600;
}

#pizzamenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#deliveryHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#deliveryButtons {
    margin-top: 15px;
}

.deliveryButtons {
    height: 30px;
    width: 200px;
    font-family: "Poppins", Arial, sans-serif;
    border: 0;
    background-color: #fac564;
    color: white;
    cursor: pointer;
}

#deliveryButtons button:hover {
    background-color: #333333;
}

.selectedMenu {
    height: 30px;
    width: 200px;
    font-family: "Poppins", Arial, sans-serif;
    border: 0;
    color: white;
    cursor: pointer;
    background-color: #333333;
}
#pastaMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#drinksMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#contactBody {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: "Poppins", Arial, sans-serif;
}

#contactus {
    display: flex;
    flex-direction: column;
}

#formandmap {
    display: flex;
    background-color: #e8edf0;
}

#contactform {
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
}

#contactNameEmail {
    display: flex;
    margin-top: 35px;
}

.contactInput {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 600;
}

    .contactInput label {
        margin-bottom: 10px;
    }

    .contactInput input {
        border: 0;
        height: 2.30em;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
    }

#contactbutton {
    color: white;
    background-color: #2553b8;
    border-radius: 5px;
    height: 45px;
    width: 125px;
    border: 0;
    margin-bottom: 35px;
    cursor: pointer;
}

    #contactbutton:hover {
        background-color: #333333;
    }

#contactIcons {
    display: flex;
    justify-content: space-between;
}

.contactIcons {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .contactIcons i {
        margin-bottom: 10px;
        color: #2553b8;
    }
#errormessage {
    color: red;
}


#registerbutton {
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 60px;
}

    #registerbutton:hover {
        background-color: #333333;
        color: white;
    }
#mobilebar{
    display: none;
}
#showMenu {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: darkred;
}
#showMenu a {
    color: white;
}
#mobilenavbar {
    display: none;
    padding: 0;
    list-style: none;
    width: 100%;
    position: fixed;
    margin-top: 79px;
}
.mobileli {
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: darkred;
    width: 100%;
    cursor: pointer;
    font-family: "Open Sans", Sans-serif;
}
.mAnchor {
    color: white;
    text-decoration: none;
    width: 100%;
}
.mobileli:active{
    background-color: #333333;
}
#mobilebar a {
    text-decoration: none;
}

@media screen and (max-width: 845px) {
#navbar{
    display: none;
}
#logo{
    margin-left: 15px;
}
#mobilebar {
    display: flex;
    align-items: center;
    margin-right: 15px;
    }
    header {
        position: sticky;
        top: 0;
        z-index: 999;
        margin-top: -1px;
    }
    #menu {
        width: 95%;
        margin: 30px auto;
    }
    #deliveryButtons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #loginbox {
        margin-top: 30px;
    }
    #contactBody{
        margin-top: 5px;
    }
    .mapouter{
        display: none;
    }
    #contactform{
        width: 100%;
        padding: 10px;
    }
    #contactus{
        width: 100%;
    }
    #contactNameEmail{
        flex-direction: column;
    }
    .contactIcons i{
        font-size: 22px;
    }
    .contactIcons{
        margin-top: 10px;
        font-size: 12px;
    }
    .mobile0{
        display: none;
    }
    #About {
        margin-top: 5px;
    }
    #aboutus {
        width: 95%;
        align-items: flex-start;
    }
    #About img{
        margin-top: 25px;
        height: 200px;
    }
    #About h1{
        font-size: 20px;
    }
    #About h2{
        font-size: 16px;
    }
    .aboutusm{
        margin: 0 5px;
    }
    #bestpizza{
        width: 95%;
    }
    #bestpizza img{
        height: 150px;
    }
    #pizzaserved h1{
        font-size: 22px;
    }
    #pizzaserved h3{
        font-size: 15px;
    }
    #pizzaserved {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
    }
    #reviews{
        flex-direction: column;
    }
    .reviews{
        margin-top: 10px;
        width: 90%;
    }
}